.leaflet-right {
	max-width:50%
}
.leaflet-popup-content h6 {
	font-size:.7rem;
	margin:0 0 .2rem 0
}

.leaflet-control-attribution {
	height:1.5em;
}
.leaflet-control-attribution:hover {
	height:auto;
}

/* Affichage avec ?carteSeule */

body.carteSeule header, body.carteSeule .md-tabs, body.carteSeule .md-footer, body.carteSeule .md-content__inner::before, body.carteSeule .md-sidebar, body.carteSeule article>a, body.carteSeule article>h1, body.carteSeule article>p, body.carteSeule article>.revision {
	display: none;
}

body.carteSeule .md-container, body.carteSeule .md-grid, body.carteSeule .md-content, body.carteSeule article, body.carteSeule .map  {
	width:100%;
	margin:0;padding:0;
	max-width: 100%;
}

@media (min-width: 490px) and (max-width:520px) {
	.map {
		height:520px
	}
}
@media (min-width: 550px) and (max-width:600px) {
	.map {
		height:600px
	}
}
@media (min-width:750px) {
	.leaflet-right {
		max-width:66%
	}
}
@media (min-width: 900px) {
	.leaflet-right {
		max-width:75%
	}
}
