#################
## Sous-Projets
#################
/planification/*
/urbanisme/*
/ville-durable/*
/indicateurs/*
#################
## Ressources
#################
/zFileManager/*
/zMatos/*
/zArchives/*
