#wait {
  text-align: center;
  color: rgba(0, 0, 0, .55);
  ;
}

#pilote {
  display: none;
  margin-top: -1rem;
}

#fiche>div {
  display: none
}

#fiche>div.active {
  display: block;
  width: 100%
}

nav#onglets ul {
  margin: .5rem 0;
  line-height: 1.25
}

nav#onglets li {
  display: inline-block;
  margin: 0 .2rem 0 0;
  padding: .5rem;
  cursor: pointer;
}

nav#onglets li {
  background-color: rgba(0, 0, 0, .1);
  color: #999;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
}

nav#onglets li:hover {
  background-color: #eee;
  color: #aaa;
  box-shadow: 0px -2px 3px #bbb
}

nav#onglets li.active {
  background-color: #fff;
  color: #444;
  box-shadow: 0px -4px 5px #bbb
}

#fiche h2 {
  margin: 0
}

#fiche h3 {
  margin: .5rem 0
}

#fiche .legende ul {
  margin: 0;
}

#fiche .legende ul li {
  font-size: .7rem;
  margin: .2rem 0 0 .2rem;
}

.ui-menu {
  font-size: .7rem;
  margin: 0 1rem;
  padding: 0;
  list-style: none;
  background-color: #eee;
}

.ui-menu-item {
  padding: .2rem 0 .2rem .8rem;
  cursor: pointer;
}

.axis--y div {
  width: 100%;
  height: 100%;
  display: table;
  text-align: right;
}

.axis--y span {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  text-align: right;
  padding-right: 4px;
}

.d3-tip {
  font-size: 10px;
  background-color: #ddd;
  color: #555;
  padding: 3px;
}

/* légende de l'occupation des sols */
#OcSoLeg li {
  display: inline-block;
}

#OcSoLeg li svg {
  stroke-width: 1px;
}

.hyperlink {
  display: block;
  float: right
}

.hyperlink span {
  margin-left: 5px;
  font-family: "open sans";
  font-size: 75%
}

.depart {
  font-weight: bold
}

span.depart {
  font-size: 115%
}

tr.small {
  opacity: 0.5
}

tr.depart {
  box-shadow: 0px 2px 5px #128297
}

.hidden {
  display: none
}

.legende {
  text-align: left;
}

.md-sidebar--secondary {
  display: none;
}

@media only screen and (min-width:100em) {
  #OcSoLeg ul {
    columns: 2;
  }
}

@media print {
  #wait, #pilote, #onglets, #fiche .hyperlink {
    display: none !important;
  }

  .hyperlink {
    display: block;
    float: right
  }

  #Infos {
    page-break-before: always !important;
  }

  #fiche>div {
    display: block !important;
  }
}
