#pilote {display:none}

.header {
  padding-bottom:0
}

/* from ui-autocomplete */
.ui-helper-hidden-accessible div {display:none}
.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    cursor: default
}

.ui-menu {
    list-style: none;
    padding: 3px;
    background:#fff;
    margin: 0;
    display: block;
    outline: 0
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    background: #128297;
    font-weight: normal;
    color: #fff
}
/* */

#fiche > div {display:none}
    #fiche > div.active {display:block;width:100%}

.axis--y div {
    width:100%;
    height:100%;
    display:table;
    text-align:right;
}

.axis--y span {
    display:table-cell;
    height:100%;
    vertical-align:middle;
    text-align:right;
    padding-right:4px;
}

.d3-tip {
  font-size:10px;
  background-color:#ddd;
  color:#555;
  padding:3px;
}

.c11 {fill:#d44} .c11::before {color:#d44}
.c12 {fill:#a58} .c12::before {color:#a58}
.c13 {fill:#aaa} .c13::before {color:#aaa}
.c14 {fill:#7a7} .c14::before {color:#7a7}
.c15 {fill:#555} .c15::before {color:#555}
.c21 {fill:#eb0} .c21::before {color:#eb0}
.c22 {fill:#fc0} .c22::before {color:#fc0}
.c23 {fill:#ac0} .c23::before {color:#ac0}
.c24 {fill:#ba5} .c24::before {color:#ba5}
.c31 {fill:#292} .c31::before {color:#292}
.c32 {fill:#8c7} .c32::before {color:#8c7}
.c51 {fill:#8af} .c51::before {color:#8af}
.cxx {fill:#ddd} .cxx::before {color:#ddd}

#OcSoLeg li::before {
  padding:0 5px;
}

.depart {font-weight:bold}

span.depart {font-size:115%}

tr.small {opacity:0.5}
tr.depart {
    box-shadow:0px 2px 5px #128297}


@media print {
#Infos {page-break-before:always}

}
